
@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');


/*! base css start  */
* {
  margin: 0;
}

body {
  font-family: "Shadows Into Light", cursive;
}

.container {
  background-color: black;
  color: black;
}

/*! base css end  */

/*! navbar start  */
.navbar {
  background-color:rgb(132, 9, 9);
  height: 90px;
  color: white;
  position: sticky;
  top: 0;
  z-index: 1;
}

.navbar-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  padding: 0 50px;
}

.logo {
  display: block;
  margin-left: 0;
  margin-right: auto;
  padding-left: 10px;
  height: 80px; /* Logonuzun yüksekliği, ihtiyacınıza göre ayarlayın */
  width: 100px;
  border-radius: 50%;
  object-fit: cover;
}


.menu-list {
  display: flex;
  list-style: none;
  column-gap: 30px;
  padding: 0;
}

.menu-list-item {
  cursor: pointer;
}

.menu-list-item:hover {
  font-weight: bold;
}

.menu-list-item.active {
  font-weight: bold;
}

.profile-container {
  display: flex;
  align-items: center;
  column-gap: 20px;
}

.profile-picture {
  width: 32px;
  height: 32px;
  object-fit: cover;
  border-radius: 50%;
}

.profile-text-container {
  display: flex;
  align-items: center;
  column-gap: 5px;
  line-height: 1;
}

.toggle {
  width: 40px;
  height: 20px;
  background-color: white;
  position: relative;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.toggle-icon {
  color: gray;
}

.toggle-ball {
  width: 18px;
  height: 18px;
  background-color: black;
  border-radius: 50%;
  cursor: pointer;
  position: absolute;
  right: 1px;
  transition: .5s ease all;
}
/*! navbar end  */

/*! sidebar start  */
.sidebar {
  background-color:rgb(132, 9, 9);
  color: white;
  height: 100%;
  width: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 60px;
  row-gap: 40px;
  position: fixed;
  top: 0;
}

.sidebar i {
  color: white;
  font-size: 20px;
  cursor: pointer;
}
/*! sidebar end  */

/*! featured content start  */
.content-wrapper {
  margin-left: 50px;
}

.featured-content {
  background: url("../img/profilresmi/cocuklari_neden_muzelere_goturmeliyiz_h288_7dc2f.jpg");
  padding: 60px;
  height: calc(100vh - 160px);
  background-size: 100% 100%;
}

.featured-title {
  width: 300px;
}




.featured-buttons {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.featured-buttons button {
  padding: 10px 25px;
  border-radius: 2px;
  border: none;
  outline: none;
  cursor: pointer;
  display: flex;
  column-gap: 10px;
  font-size: 16px;
  font-weight: bold;
}

.featured-buttons .info-button {
  background-color: rgb(145, 142, 142, 0.5);
  color: white;
}
/*! featured content end  */

/*! filter start */
.museum-list-filter {
  margin: 10px 0 10px 10px;
  padding: 20px;
}

.museum-list-filter select {
  background-color: rgb(132, 9, 9);
  color: white;
  padding: 7px 0;
  width: 125px;
}
/*! filter end */

/*! museum list start */
.museum-list-container {
  margin-left: 0.5px;
}

.museum-list {
  list-style: none;
  padding: 0;
  height: 300px;
  display: flex;
  align-items: center;
  column-gap: 30px;
  transform: translateX(0);
  transition: 1s all ease-in-out;
}

.museum-list-wrapper {
  overflow: hidden;
  position: relative;
}

.museum-item {
  position: relative;
}

.museum-item:hover .museum-item-title,
.museum-item:hover .museum-item-buttons {
  opacity: 1;
}

.museum-item:hover .museum-item-img {
  transform: scale(1.2);
  margin: 0 30px;
  opacity: 0.5;
}

.museum-item-img {
  width: 270px;
  height: 200px;
  object-fit: cover;
  transition: 1s all ease-in-out;
}

.museum-item-title {
  background-color: rgb(40, 40, 40, 0.4);
  padding: 0 10px;
  font-size: 28px;
  font-weight: bold;
  position: absolute;
  top: 10%;
  left: 50px;
  opacity: 0;
  transition: 1s all ease-in-out;
}

.museum-item-buttons {
  background-color: rgb(40, 40, 40, 0.4);
  padding: 10px;
  font-weight: bold;
  position: absolute;
  bottom: 10%;
  left: 50px;
  display: flex;
  column-gap: 20px;
  opacity: 0;
  transition: 1s all ease-in-out;
}

.museum-item-buttons i {
  cursor: pointer;
  opacity: 0.5;
  font-size: 20px;
  transition: 0.5s all ease;
}

.museum-item-buttons i:hover {
  opacity: 1;
}

.arrow {
  width: 100px;
  display: flex;
  font-size: 120px;
  position: absolute;
  right: 0;
  top: 100px;
  opacity: 0.5;
  transition: 0.5s ease all;
  cursor: pointer;
}

.arrow:hover {
  opacity: 1;
}
/*! museum list end */

/*! dark mode start  */
.container.active {
  background-color: white;
}

.navbar.active {
  background-color: white;
  color: black;
}

.sidebar.active {
  background-color: white;
}

.sidebar i.active {
  color: black;
}

.museum-list-title.active{
    color: black;
}

.toggle.active{
    background-color: black;
}

.toggle-ball.active{
    background-color: white;
    transform: translateX(-20px);
}

.museum-list-filter select.active{
    background-color: white;
    color: black;
}
/*! dark mode end  */

/*! responsive start  */
 screen and (max-width: 800px){
    .menu-container{
        display: none;
    }

    .featured-content{
        height: 50vh;
    }

    .featured-title{
        width: 200px;
    }

    .featured-desc{
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 5;
        -webkit-box-orient: vertical;
        max-width: 200px;
        padding: 0;
    }
}
/*! responsive end  */